<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Navall</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-50 p-8">
<h1 class="text-4xl font-bold mb-6 text-center" th:text="'Welcome to Navall'">Welcome to Navall</h1>

<div style="padding-bottom: 20px">
    <form class="max-w-md mx-auto mb-6" method="get" th:action="@{/groups/member/email}">
        <label class="block font-semibold mb-1" for="email">Member Email:</label>
        <input class="w-full border border-gray-300 p-2 rounded focus:outline-none focus:ring-2 focus:ring-blue-500 mb-4"
               id="email" name="email" required
               type="email"/>
        <button class="w-full bg-blue-500 text-white py-2 rounded hover:bg-blue-600" type="submit">
            Find Group
        </button>
    </form>
</div>

<div class="max-w-md mx-auto space-y-4 text-center">
    <a class="block bg-green-500 text-white py-2 rounded hover:bg-green-600" th:href="@{/groups/create}">
        Create new Group
    </a>
    <a class="block bg-blue-500 text-white py-2 rounded hover:bg-blue-600" th:href="@{/groups}">
        Go to Groups List
    </a>
</div>
</body>
</html>
